## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

/server/node_modules/

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/dist/

storybook-static
custom-elements.json
tsconfig.tsbuildinfo

.rollup.cache
